streamlit

# utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
face_recognition_models
setuptools<70.0.0

# Database
supabase
bcrypt

# QR / Image Processing
segno
pillow

# Voice Recognition
librosa
resemblyzer